@model WorkoutHunter.Models.testV
@{
    Layout = null;
}

<table>
    <tr>
        <td>ID</td>
        <td>RANK</td>
        <td>STR</td>
        <td>VIT</td>
        <td>AGI</td>
        <td>道具</td>
        <td>技能</td>
        <td>金錢</td>
        <td>金錢</td>
    </tr>
    <tr>
        <td>@Model.UID</td>
        <td>@Model.Class</td>
        <td>@Model.Strength</td>
        <td>@Model.Vitality</td>
        <td>@Model.Agility</td>
        <td>@Model.Items</td>
        <td>@Model.Skills</td>
        <td>@Model.Money</td>
        <td>@Model.ChaPic</td>
    </tr>
 


</table>